.burger-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 38px;
}

.burger-header__button {
  width: 44px;
  height: 44px;
  user-select: none;
}

@media screen and (max-width: 580px) {
  .burger-header__button {
    width: 40px;
    height: 43px;
  }
}
