.error {
  font-family: Inter, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  user-select: none;
}

.error__title {
  text-align: center;
  margin: 246px auto 5px;
  font-weight: 400;
  color: white;
  font-size: 140px;
  line-height: 169px;
}

.error__message {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.error__link {
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 184px auto 60px;
  text-align: center;
  color: #4285f4;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .error__title {
    margin-bottom: 10px;
    font-size: 80px;
    line-height: 97px;
  }

  .error__message {
    font-size: 12px;
    line-height: 15px;
    margin: 0;
  }

  .error__link {
    font-size: 12px;
    line-height: 15px;
  }
}
